---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en-US" }}">

{% include head.html %}

<body class="site">

  {% if site.google_tag_manager %}

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% endif %}

  {% include header.html %}

  <!-- <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div> -->

  <!-- <div class="hero--small"> -->
  <!-- <div class="hero__wrap"> -->
  <h1 class="hero__title">{{ site.title | escape }}</h1>
  <!-- </div> -->
  <!-- </div> -->


  <main class="site__content">
    <div class="container">
      <div class="page-content">
        <div>
          <img src="/assets/pics/yasha.jpg" class="lazyload blur"
            style="width: 33%; float: left; margin: 0px 15px 15px 0px;" />
        </div>

        <div>

          <p class="paragraph" float:right>
            <strong>
              I am on the job market and am eager to hear about opportunities in both academic and
              industry research positions, so please don't hesitate to reach out!
            <br>
            <u>Links to my statements below:</u></strong>
            <br>
            <a href="https://yasha.xyz/assets/pdf/statements/2025JM_IravantchiResearchStatement_4pg_uu.pdf">Research
              Statement</a>
            <br>


            <a href="https://yasha.xyz/assets/pdf/statements/2025JM_IravantchiTeachingStatement_2pg.pdf">
              Teaching Statement</a>
            <br>

            <a href="https://yasha.xyz/assets/pdf/statements/2025JM_IravantchiDEIStatement.pdf">DEI Statement</a>
          </p>

          <p class="paragraph" float:right>

            Hello there!

            I am Yasha Iravantchi, a CSE Ph.D. Candidate at <a href="https://www.eecs.umich.edu/">University of Michigan
              EECS</a>, a <a
              href="https://research.facebook.com/blog/2022/2/announcing-the-recipients-of-the-2022-meta-phd-research-fellowship/">2022
              Meta PhD Research Fellow</a>, and a <a
              href="https://cse.engin.umich.edu/stories/yasha-iravantchi-receives-rackham-predoctoral-fellowship">2024
              Rackham Predoctoral Fellow</a>.
            I am advised by <a href="http://www.alansonsample.com/">Alanson Sample</a>. My committee members include <a href="https://web.eecs.umich.edu/~kgshin/">Kang G. Shin</a>, <a href="https://coe.northeastern.edu/people/abowd-gregory/">Gregory Abowd</a>, <a href="https://www.nikolabanovic.net/">Nikola Banovic</a>, and <a href="https://medicine.umich.edu/dept/pmr/anna-kratz-phd">Anna Kratz</a>.
          </p>
        </div>
        <div>
          <p class="paragraph" float:right>
            <strong style='color:#A51C30'>
              My research incorporates Privacy by Design (PbD) principles at the device level to create sensors that provide user privacy guarantees while supporting valuable interactive and ubiquitous AI-driven sensing applications, such as continuous remote health monitoring and activity inferencing.
            </strong>
            Please see my <a href="https://yasha.xyz/assets/pdf/IravantchiCV.pdf">CV</a> and <a
              href="https://scholar.google.com/citations?user=zuRMGqYAAAAJ&hl=en&oi=ao">Google Scholar</a> for more
            information. A taxonomy of my research can be found below:
          </p>
        </div>

        <div>
          <img src="/assets/pics/upas.jpg" class="lazyload blur"
            style="width: 100%; float: none; margin: 0px 15px 15px 0px;" />
        </div>

        <p class="paragraph">
          <u><strong>Recent and Upcoming Travel:</strong></u>
          <br>
          - November 18-22: MobiCom '24, Washington, D.C. (check out <a href="https://yasha.xyz/Polaris/">Polaris</a>!)  
          <br>
          <u><strong>Recent and Upcoming Talks:</strong></u>
          <br>
          - Invited Talk: UCLA 10/22/24 (Thanks <a href="https://yangzhang.dev/">Yang</a>!)
          <br>
          - Invited Talk: University of Chicago 8/19/24 (Thanks <a href="https://plopes.org/">Pedro</a>!)

        </p>

      </div>
  </main>

  <main class="site__content">
    <section class="blog">
      <div class="container">
        <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

          {% for post in site.posts %}
          {% include card.html %}
          {% endfor %}

          <!-- {% include pagination.html %} -->
        </div>
      </div>
    </section>
  </main>

  {% include footer.html %}

</body>

</html>